<app-navbar></app-navbar>
<div class="header-text">
  <h1>
    <span>T</span>
    <span>O</span>
    <span>D</span>
    <span>O</span>
    <span>S </span>
    <span>P</span>
    <span>R</span>
    <span>I</span>
    <span>N</span>
    <span>T</span>
  </h1>
</div>
<div class="container-header">
  <div class="navigation-buttons">
    <div class="question">
      <mat-icon>help</mat-icon>
    </div>
    <div class="buttons">
      <mat-icon
        aria-hidden="false"
        routerLinkActive="active"
        aria-label="Example home icon"
        [routerLink]="['']"
        [routerLinkActiveOptions]="{ exact: true }"
        >home</mat-icon
      >
      <mat-icon
        aria-hidden="false"
        routerLinkActive="active"
        aria-label="Example home icon"
        [routerLink]="['stadistics']"
        >bar_chart</mat-icon
      >
    </div>
  </div>
</div>
<div class="container-layout">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
