.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.inf-profile {
  display: flex;
  align-items: center;
  > img {
    border-radius: 100%;
    width: 45px;
  }
  > h3 {
    margin-left: 12px;
    font-size: 16px;
    color: #44444440;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: revert;
  }
}
.action-button {
  > button {
    background: none;
    outline: none;
    border: none;
    color: var(--color-secondary);
    font-weight: bold;
    transition: 0.5s all;
  }
  > button:hover {
    color: var(--color-primary);
    cursor: pointer;
    transition: 0.5s all;
  }
}
